*{
    margin: 0px;
    padding: 0px;
}


.Posters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.div1{
    color: white;
    height: 90vh;
    width: 30vw;
}
.div1 h1{
    margin-top: 70vh;
}
.div2{
    height: 90vh; 
    width: 70vw;
}
.div2 img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.NextPrevBtn{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 10px;
    margin-right: -45vw;
} 

.DotBar{
    color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
   cursor: pointer;
   font-size: 22px;
   margin-right:35vw;
}
.active{
    color: red;
   font-size: 32px;
   
}