.Cart{
    display: flex;
    /* align-items: center; */
    overflow-x:scroll;
    gap: 8px;
    margin-left: 10px;
 
}

.Cart_main::-webkit-scrollbar {
    display: none;
}
.Cart_main{
    height: 250px;
    width: 220px;
    
}

.Cart_main img{
height: 250px;
width: 220px;
border-radius: 15px;

}



/* .cart img:hover{
    height: 350px;
    width: 320px;  
}  */